/* SkeletonProduct here */

.Wrapper{
	width: 290px;
	height: 350px;
	border-radius: 5px;
	background: #f2f2f2;
	margin: 10px;
	position: relative;
	overflow: hidden;
}


.SkeletonProduct{
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/* SkeletonProfile here */

.ProfileWrapper{
	width: 350px;
	height: 444px;
	border-radius: 5px;
	background: #f2f2f2;
	position: relative;
	overflow: hidden;
}

.SkeletonProfile{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 50px;
}


/* SkeletonSell here */

.WrapperSell{
	width: 241px;
	height: 340px;
	border-radius: 5px;
	background: #f2f2f2;
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.SkeletonSell{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}



/*  SkeletonDetail here */

.WrapperDetail{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: #f2f2f2;
	position: relative;
	overflow: hidden;
}

.SkeletonDetail{
	display:flex;
	padding: 38px;
	flex-direction: row;
	justify-content: flex-start;
}

.Images{
	width: 40%;
	margin-right: 20px;
}

.Column{
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: center;
}

.Avatar{
	display: flex;
	flex-direction: row;
}

.Avatar div:nth-child(2){
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
}



/* SkeletonReview here */

.WrapperReview{
	width: 100%;
	height: 320px;
	border-radius: 5px;
	background:white;
	position: relative;
	overflow: hidden;
}

.SkeletonReview{
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.SkeletonReview div:nth-child(2){
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
	width: 100%;
}

.ShimmerWrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: loading 1.5s infinite; 
}

.Shimmer{
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,0.2);
	transform: skewX(-20deg);
	box-shadow: 0 0 30px 30px rgba(255,255,255,0.05);
}

@keyframes loading {
	0% { transform: translateX(-150%) }
	50%{ transform: translateX(-60%) }
	100%{ transform: translateX(150%) }
}