.Body{
	background: #F7F6ED;
	font-family: Inter;
	padding-top: 24px;
	padding-bottom: 300px;
}

.Container{
	border-radius: 8px;
	background: white;
	border: 1px solid white;
	width: 1251px;
	margin: 0 auto;
}

.Empty {
	float: right;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 16px 24px;
	cursor: pointer;
	border: 0px;
	color: white;
	background: #D65445;
	transition: all 0.4s ease 0s;
	margin: 0 0 0 15px;
}

.Empty:hover {
	transition: all 0.4s ease 0s;
	background: #c7210e;
	color: #ddd;
}

.Title{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 36px 38px 32px 48px;
}

.Title p{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.15px;
	color: #313131;
}

.Title p:nth-child(1){
	margin: 0 462px 0 0;
}

.Title p:nth-child(2){
	margin: 0 106px 0 0;
}
.Title p:nth-child(3){
	margin: 0 86px 0 0;
}
.Title p:nth-child(4){
	margin: 0 86px 0 0;
}

.Container hr{
	border: 0.5px solid #C4C4C4;
	width: 95%;
	color: #C4C4C4;
	margin: 100px auto 0 auto;
}

.Checkout{
	display: flex;
	flex-direction: row;
	margin: 66.5px 38px 68px 48px;
	justify-content: flex-end;
	align-items: center;
}

.Checkout h2{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.15px;
	color: #000000;
	margin: 0 35px 0 0;
}

.Checkout p{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #DE884A;
	margin: 0 35px 0 0;
}

.Checkout button:nth-child(3){
	border-radius: 5px;
	box-sizing: border-box;
	padding: 16px 24px;;
	border: 0px;
	color:  #367874;
	background: white;
	border: 1px solid  #367874;
	transition: all 0.4s ease 0s;
}

.Checkout button:nth-child(3):hover{
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	color: white;
	background: #367874;
	border: 0;
}

@media only screen and (max-width: 700px){
	.Body{
		height: 1500px;
	}
	.Container {
		width: 90%;
		height: 1400px;
	}
	.Title{
		margin: 30px auto;
	}
	
	.Title p:nth-child(1){
		text-align: center;
		margin: 0 auto;
	}
	
	.Title p:nth-child(2), .Title p:nth-child(3), .Title p:nth-child(4), .Title p:nth-child(5){

		display: none;
	}
	.Checkout{
		width: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin: 50px auto 0 auto;
	}
	.Checkout h2{
		margin: 0 0 10px 0;
		font-size: 14px;
	}
	.Checkout p{
		font-size: 16px;
		margin: 0 0 50px 0;
	}
}
