.ModalReview {
    width: 40%;
	/* height: 781px; */
	background: #FFFFFF;
	border-radius: 8px;
	position: relative;
	margin: 20vh auto;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    border: none;
    outline: none;
    padding: 37px;
    max-height: calc(80vh - 50px);
	overflow-y: scroll;
}

.ModalReview::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ModalReview {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Header {
    display: flex;
    flex-direction: row;
}

.Header>button {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.Header>button:hover {
    font-weight: bold;
    color: #D65445;
}

.Form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Form label {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #000000;
}

.Form input {
    background: #FCFCFC;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    outline: none;
    margin-top: 16px;
}

input:focus {
    box-shadow: 0 0 5px rgb(35, 202, 191);
    /* padding: 20px; */
    border: 1px solid rgb(30, 184, 173);
}

.ButtonGroup {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: ; */
}

.Cancel {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #D65445;
    background: white;
    padding: 10px 20px;
    border: 1px solid #D65445;
    cursor: pointer;
    outline: none;

}
.Cancel:hover {
    background: #D65445;
    color: white;
}

.Submit:hover {
    background: #367874;
    color: white;
}

.Submit {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #367874;
    background: white;
    padding: 10px 20px;
    border: 1px solid #367874;
    cursor: pointer;
    outline: none;

}

.ErrorMsg {
    color: #D65445;
    font-size: 14px;
    margin-top: 8px;
}

.ErrorInput {
    box-shadow: 0 0 5px rgb(236, 42, 42);
}

.HideMe{
    display: none;
}