.Container {
    padding: 0 16px ;
    max-width: 100%;
    margin: auto;

}

@media (min-width: 1440px) {
    .Container {
        max-width: 1277px;
    }
}

.Review {
    /* border-top: 1px solid #C5C5C5; */
    /* background: #F7F6ED;  */
    margin: auto;
    padding: 64px 38px 64px 0;
    width: 100%;
    border-radius: 0 0 8px 8px;
    background: white;
}

.Review h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 24px;
}

.UserReview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 100%;
}

.UserReview .UserPicture {
    /* width: 5%; */
    margin: auto;
}

.UserReview img {
    margin: auto;
    width: 74px;
    height: 74px;
}

/* .UserReview p {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #000000;
    padding-right: 18px;
    background: white;
} */

/* .UserReview div, span {
    background: white;
} */

.Column {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.NameRate {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.NameRate p{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 0;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #000000;
    padding-right: 16px;
    background: white;  
}

.Comment {
    width: 100%;
    background: #EDEDED !important;
    border-radius: 8px;
    padding: 20px 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.UserReview .ButtonGroup {
    display: flex;
    width: 15%;
    flex-direction: row;
    justify-content: space-between;
}

.ButtonGroup button{
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    background: white;
    border-radius: 5px;
}

.ButtonGroup .EditButton button {
    color: #DE884A;
    border: 1px solid #DE884A;
}

.ButtonGroup .EditButton button:hover {
    color: white;
    background:  #DE884A;
}

.ButtonGroup .DeleteButton button:hover {
    color: white;
    background:  #D65445;
}

.ButtonGroup .DeleteButton button {
    color: #D65445;
    border: 1px solid #D65445;
}

@media only screen and (max-width: 450px) {
    .Container {
        margin: auto;
    }

    .Review {
        padding: 16px;
        border: none;
        border-radius: 5px;
        height: 500px;
    }

    .Review h4 {
        margin-bottom: 16px;
    }

    .UserReview {
        margin: auto;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .UserReview .UserPicture {
        width: 10%;
        margin: 0;
        margin-right: 16px;
    }
    .UserPicture img {
        width: 45px;
        height: 45px;
    }

    .UserReview .Column {
        width: 80%;
    }

    .Column .NameRate p {
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.32px;
    }

    .Column .Comment {
        width: 100%;
        padding: 16px;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.08px;
    }



}


