.Review {
    border-top: 1px solid #C5C5C5;
    background: #F7F6ED; 
    margin: 0 102px 68px 103px;
    padding: 38px;
    border-radius: 0 0 8px 8px;
    background: white;
}

.Review h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
    background: white;
    margin-bottom: 24px;
}

.UserReview {
    display: flex;
    flex-direction: row;
    background: white;
    margin-bottom: 32px;
}

.UserReview img {
    padding-right: 26px;
    background: white;
    width: 74px;
    height: 74px;
}

/* .UserReview p {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #000000;
    padding-right: 18px;
    background: white;
} */

.UserReview div, span {
    background: white;
}

.Column {
    display: flex;
    flex-direction: column;
}

.NameRate {
    display: flex;
    flex-direction: row;
}

.NameRate p{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 0;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #000000;
    padding-right: 18px;
    background: white;  
}

.Comment {
    width: 1061px;
    /* height: 63px; */
    background: #EDEDED !important;
    border-radius: 8px;
    padding: 20px 27px;
    /* border: 1px solid black; */
}

/* .Comment p {
    background: #EDEDED;
} */



