.EditUser {
    width: 596px;
	/* height: 781px; */
	background: #FFFFFF;
	border-radius: 8px;
	position: relative;
	margin: 47px auto;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    border: none;
    outline: none;
    padding: 37px;
}
.Header {
    display: flex;
    flex-direction: row;
}

.Header>button {
    align-items: flex-end;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form img {
    margin: auto;
    width: 120px;
    height: 120px;
}

input[type="file"] {
    display: none;
}

.CustomUpload {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #367874;
    border: 1px solid #367874;
    border-radius: 5px;
    margin: auto;
    margin-top: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

.CustomUpload:hover {
    background: #367874;
    color: white;
}

form label {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #000000;
}

form input {
    background: #FCFCFC;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    outline: none;
    margin-top: 6px;
}

input:focus {
    box-shadow: 0 0 5px rgb(35, 202, 191);
    /* padding: 20px; */
    border: 1px solid rgb(30, 184, 173);
}

.ButtonGroup {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: ; */
}

.Cancel {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #D65445;
    background: white;
    padding: 10px 20px;
    border: 1px solid #D65445;
    cursor: pointer;
}
.Cancel:hover {
    background: #D65445;
    color: white;
}

.Submit:hover {
    background: #367874;
    color: white;
}

.Submit {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #367874;
    background: white;
    padding: 10px 20px;
    border: 1px solid #367874;
    cursor: pointer;
}
