.Wrapper {
    /* margin-top: 24px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 103px 0 103px;
    padding-top: 24px;
}

.UserCard {
    width: 408px;
    height: 444px;
    background: #FFFFFF !important;
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.UserCard img {
    margin: 54px 130px 33px 130px;
    width: 150px;
    height: 150px;
}

.UserCard p {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #000000;
}

.UserCard button {
    margin-top: 36px;
    margin-bottom: 53px;
    border: 1px solid #DE884A;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #DE884A;
    padding: 10px 20px;
    background: none;
    outline: none;
}

.DashboardCard {
    width: 802px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 28px 24px;
    margin-bottom: 64px;
    /* display: flex; */
    /* flex-flow: row; */
}

.DashboardCard a.Active{
    color: #DE884A;
    border-bottom: 1px solid #DE884A;
}

.DashboardCard a {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* color: #DE884A; */
    color: #AEA9A5;
    text-decoration: none;
    margin-right: 56px;
}

.DashboardCard a:nth-child(1) {
    margin-left: 20px;
}

.DashboardCard>button {
    margin-left: 165px;
    /* margin-left: auto; */
    /* align-items: flex-end; */
    /* justify-content: center; */
    background: #367874;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
    border: none;
}

@media only screen and (max-width: 700px) {
    .Wrapper {
        margin: auto;
    }

    .DashboardCard {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .DashboardCard a {
        margin: auto;
    }

    .DashboardCard>button {
        position: absolute;
        margin: -70px 0 0 90px;
        /* margin-top: -50px; */

    }
}



