.Container {
    max-width: 100%;
    padding: 0 16px;
    margin: auto;
}

@media (min-width: 1440px) {
    .Container {
        max-width: 1277px;
    }
}

.Row {
    display: flex;
    flex-wrap: wrap;
    /* width: 1251px; */
    margin: 0px -12px;
}

.Wrapper {
    /* margin-top: 24px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* padding-top: 24px; */
}

.ColUser {
    padding: 0px 12px;
    width: 30%;
}

.ColDasboard {
    padding: 0px 12px;
    width: 70%;
}

.UserCard {
    width: 100%;
    height: 444px;
    background: #FFFFFF !important;
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UserCard img {
    margin: 0 auto 24px auto;
    width: 150px;
    height: 150px;
	border-radius: 75%;
}

.UserCard p:nth-child(2) {
    font-weight: 500;
    font-size: 24px;
	text-transform: capitalize;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #000000;
}

.UserCard p:nth-child(3){
	margin-top: 20px;
	font-size: 16px;
	line-height: 28px;
    letter-spacing: 0.15px;
    color: #000000;
	font-weight: 400;
}

.UserCard button {
    margin-top: 36px;
    margin-bottom: 10px;
    border: 1px solid #DE884A;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #DE884A;
    padding: 10px 20px;
    background: none;
    outline: none;
    cursor: pointer;
}

.UserCard button:hover {
    color: white;
    background: #DE884A;
}

.UserCard .CreateButton{
	display: none;
}

.DashboardCard {
    width: 100%;
    /* width: 802px; */
    background: #FFFFFF;
    border-radius: 8px;
    padding: 28px 24px;
    margin-bottom: 64px;
	position: relative;
    /* display: flex; */
    /* flex-flow: row; */
}

.DashboardCard a.Active{
    color: #DE884A;
    border-bottom: 1px solid #DE884A;
}

.DashboardCard a {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* color: #DE884A; */
    color: #AEA9A5;
    text-decoration: none;
    margin-right: 56px;
}

.Navigation {
    margin-left: 20px;
}

.CreateButton {
    /* margin-left: auto; */
    /* align-items: flex-end; */
    /* justify-content: center; */
    background: #367874;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
    border: none;
	float: right;
	margin: 0;
}

@media only screen and (max-width: 700px) {
    .Wrapper {
        margin: auto;
    }
	
	.UserCard{
		margin: 20px auto;
		width: 90%;
	}

    .DashboardCard {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .DashboardCard a {
        margin: auto;
    }

    .DashboardCard .CreateButton {
		display: none;

    }
	
	.UserCard .CreateButton{
		display:block
	}
}

@media only screen and (max-width: 400px) {
    .Container {
        margin: auto;
    }
    .Wrapper {
        margin: auto;
    }

    .Row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .ColUser {
        width: 100%;
        margin: auto;
    }

    .ColDasboard {
        width: 100%;
        margin: auto;
    }
	
	.UserCard{
		margin: 24px auto;
		width: 100%;
	}

    .ColDasboard .DashboardCard {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .ColDasboard .DashboardCard .Navigation {
        /* margin: 0an; */
        /* background: #000; */
        /* width: ; */
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .ColDasboard .DashboardCard .Navigation a{
        font-size: 75%;
        padding: 5px;
    }

    .DashboardCard .CreateButton {
		display: none;

    }
	
	.UserCard .CreateButton{
		display:block
	}
}



