.Wrapper {
    padding: 0 32px ;
    max-width: 100%;
    margin: 24px 0 0;
    width: 100%;

}

@media (min-width: 1440px) {
    .Wrapper {
        max-width: 1277px;
    }
}

.Navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #C5C5C5;
}

.Navigation a {
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 24px;
    text-decoration: none;
    margin-right: 56px;
}

.Navigation .Active {
    color: #DE884A;
    border-bottom: 1px solid #DE884A;
}