

.Container{
	width: 1251px;
	height: 402px;
	margin: 0 auto;
	background: radial-gradient(#E4902E, #C76B3B);
	position: relative;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.Container h1{
	width: 60%;
	position: absolute;
	top: 70.08px;
	left: 37.4px;
	color: #FFFFFF;
	line-height:58px;
	font-size:48px;
	font-style: normal;
	font-weight: normal;
}

.Container button{
	position: absolute;
	bottom: 106.3px;
	left: 37.4px;
	box-sizing: border-box;
	padding: 10px 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	color: #C86C3C;
	background: #EEC99D;
	border-radius: 8px;
	border: 0px solid black;
	transition: all 0.4s ease 0s;
}

.Container button:hover{
	letter-spacing: 1px;	
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	color:  #EEC99D;
	background: #C86C3C;
	border: 1px solid  #EEC99D;
}

.Container img{
	position: absolute;
	bottom: 0;
	right: 0;
}

.Container2{
	width: 1251px;
	height: 402px;
	margin: 0 auto;
	background: radial-gradient(#E4902E, #C76B3B);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.Container2 img {
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom-left-radius: 8px;
}

.Container2 h1{
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 118.3%;
	letter-spacing: -0.025em;
	color: #FFFFFF;
	margin: 0 0 22px 0;
}

.Container2 button {
	box-sizing: border-box;
	padding: 10px 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	color: #C86C3C;
	background: #EEC99D;
	border-radius: 8px;
	border: 0px solid black;
	transition: all 0.4s ease 0s;
}

.Container2 button:hover {
	padding: 10px 30px;
	letter-spacing: 1px;	
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	color:  #EEC99D;
	background: #C86C3C;
	border: 1px solid  #EEC99D;
}

.Container3{
	width: 1251px;
	height: 402px;
	margin: 0 auto;
	background: radial-gradient(#FFEFB7, #FFC73E);
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.Container3 img {
	width: 412px;
}

.Container3 button {
	cursor: pointer;
	background: #FBE7C9;
	box-sizing: border-box;
	padding: 12px 50px;
	border: 0px solid black;
	color: #DE884A;
	font-size: 16px;
	transition: all 0.4s ease 0s;
}

.Container3 button:hover {
	transition: all 0.4s ease 0s;
	color: #FBE7C9;
	background: #DE884A;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}


.Description h1{
	font-style: normal;
	font-weight: 700;
	margin-bottom: 30px;
	font-size: 40px;
	width: 70%;
	letter-spacing: 2px;
	line-height: 150%;
	color: #DE884A;
}


.paginationBullet {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 1rem;
  display: inline-block;
  transition: all 0.2s ease;
}

.paginationBulletActive {
  width: 4.2rem;
  border-radius: 1rem;
  background: #a87b14;
}

.Container4{
  max-width: 144rem;
  margin: auto;
	position: relative;
	z-index: 100;
	top: 350px;
	left: 35%;
	
}

.carousel{
	margin: auto;
  height: 66rem;
  position: relative;
}

.carouselContainer {
  margin: auto;
}