.Background{
	background: #F7F6ED;
	font-family: Inter;
}

.Container{
	width: 1251px;
	height: 402px;
	margin: 0 auto;
	background: radial-gradient(#E4902E, #C76B3B);
	position: relative;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.Container h1{
	width: 60%;
	position: absolute;
	top: 70.08px;
	left: 37.4px;
	color: #FFFFFF;
	line-height:58px;
	font-size:48px;
	font-style: normal;
	font-weight: normal;
}

.Container button{
	position: absolute;
	bottom: 106.3px;
	left: 37.4px;
	box-sizing: border-box;
	padding: 10px 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	color: #C86C3C;
	background: #EEC99D;
	border-radius: 8px;
	border: 0px solid black;
	transition: all 0.4s ease 0s;
}

.Container button:hover{
	letter-spacing: 1px;	
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	color:  #EEC99D;
	background: #C86C3C;
	border: 1px solid  #EEC99D;
}

.Container img{
	position: absolute;
	bottom: 0;
	right: 0;
}

.Ads{
	width: 1251px;
	margin: 20px auto 0 auto;
	display: flex;
	flex-direction: row;
	
}

.ContainerBanana{
	width: 704.4px;
	height: 408px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	background: white;
	margin-right: 40.6px;
}

.Banana{
	width: 408px;
	height: 408px;
	background: radial-gradient(#FFEFB7, #FFC73E);
	position: relative;
	border-radius: 8px;
}
.Banana img{
	width: 412px;
	position: absolute;
	top: 39px;
	right:7.6px;
}
.Banana button{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	background: #FBE7C9;
	box-sizing: border-box;
	padding: 14.25px 13px;
	border: 0px solid black;
	border-top-left-radius: 8px;
	color: #DE884A;
	transition: all 0.4s ease 0s;
}

.Banana button:hover{
	transition: all 0.4s ease 0s;
	color: #FBE7C9;
	background: #DE884A;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

.Description{
	padding: 55.4px 0 0 24px;
	width: 296px;
	
}

.Description caption{
	font-style: normal;
	font-weight: 500;
	width: 150px;
	text-align: left;
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #99B0A7;
	margin-bottom: 20px;
}
.Description h1{
	font-style: normal;
	font-weight: normal;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

.Description p{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 24px;
	width: 220px;
	letter-spacing: 0.44px;
	color: #838383;
}

.Description h2{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #DE884A;
	margin-bottom: 20px;
}
.Description button svg{
	width: 16px;
	height: 16px;
	margin: auto 8px auto 0;
}

.Description button{
	display: flex;
	align-items: center;
	cursor: pointer;
	box-sizing: border-box;
	padding: 10px 20px;
	border: 0px;
	background: #BBE4D8;
	border-radius: 5px;
	text-transform: uppercase;
	color: #367874;
	transition: all 0.4s ease 0s;
	font-size: 15px;
}

.Description button:hover{
	transition: all 0.4s ease 0s;
	background: #367874;
	color: #BBE4D8;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	border: 1px solid #BBE4D8;
}
.Description button img:hover{
	color: #BBE4D8;
}

.Tomato{
	background: radial-gradient(#C4CF56, #96A545);
	border-radius: 8px;
	width: 506px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Tomato h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #305711;
	width:165px;
	margin: 0;
}

.Tomato button{
	background: rgba(211, 222, 128, 0.35);
	border-radius: 8px;
	box-sizing: border-box;
	padding: 10px 20px;
	color: #618841;
	cursor: pointer;
	border: 0;
	margin-top: 9.15px;
	transition: all 0.4s ease 0s;
	position: relative;
	z-index: 1;
}

.Tomato button:hover{
	width: 170px;
	transition: all 0.4s ease 0s;
	border: 1px solid rgba(211, 222, 128, 0.35);
	color: rgba(211, 222, 128, 0.35);
	background: #618841;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

.Tomato img:nth-child(1){
	position:absolute;
	top: 0;
}

.Tomato img:nth-child(2){
	position: absolute;
	bottom: 0;
}


/* Responsive Goes Here */

@media only screen and (max-width: 700px){
	.Container{
		width: 90%;
	}
	
	.Container img{
		width: 300px;
	}
	.Container h1{
		font-size: 24px;
		width: 70%;
		line-height: 200%;
		left: 15%;
		text-align: center;
	}
	.Container button{
		left: 22.5%;
		width: 55%;
	}
	
	.Ads{
		width: 90%;
		flex-direction: column;
	}
	
	.ContainerBanana{
		width: 100%;
	}
	
	.Banana{
		width: 60%;
	}
	
	.Banana img{
		width: 200px;
		top: 30%;
		right: 10%;
	}
	
	.Description{
		width: 40%;
		padding: 50px 0 0 20px;
	}
	
	.Description caption{
		margin-bottom: 10px;
	}
	
	.Description h1{
		font-size: 14px;
		width: 85%;
		margin-bottom: 10px;
	}
	.Description p{
		font-size: 14px;
		width: 80%;
	}
	.Description h2{
		font-size: 16px;
		margin-top: 10px;
	}
	.Description button{
		padding: 5px 10px;
		position: relative;
		z-index: 1;
		font-size: 14px;
		width: 85%;
	}
	
	.Tomato{
		width: 100%;
		margin-top: 24px;
		height: 200px;
	}
	
	.Tomato img{
		width: 200px;
	}
	
	.Tomato h1{
		font-size: 20px;
	}
	
	.Tomato button{
		margin-top: 5px;
	}
}
